.mod-livepoll-shadowy {
    box-shadow: 0.3rem 0.8rem 0.6rem #888;
}

.mod-livepoll-text-result {
    transition: box-shadow 0.3s ease-in-out;
}

.livepoll-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.livepoll-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.livepoll-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.livepoll-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .livepoll-slider {
    background-color: #2196F3;
}

input:focus + .livepoll-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .livepoll-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.livepoll-slider.round {
    border-radius: 34px;
}

.livepoll-slider.round:before {
    border-radius: 50%;
}

@keyframes livepoll-answer {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }

    to {
        opacity: .5;
        transform: scale(1.5, 1.5);
    }
}

.livepoll-answer-animation {
    animation-duration: 0.2s;
    animation-name: livepoll-answer;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
